.headerBanner{
    width:100vw;
    height:25vw;
    object-fit:cover;
    object-position: bottom 40%;
}

.textBanner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); 
    font-size: 6em; 
    font-weight: bold; 
    font-family: 'Sancreek', cursive;
    -webkit-text-stroke: 2px black;
}