/* .bannerHeader {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  
  .background-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .textBanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 6em;
    font-weight: bold;
    font-family: 'Sancreek', cursive;
    -webkit-text-stroke: 2px black;
  }

  @media (max-width: 768px) {
    .textBanner {
      font-size: 4em;
    }
  }
  
  @media (max-width: 480px) {
    .textBanner {
      font-size: 4em;
    }
  }
  
  .textBanner-second {
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
    font-family: 'Sancreek', cursive;
    -webkit-text-stroke: 2px black;
  }

  @media (max-width: 768px) {
    .textBanner-second {
      font-size: 2em;
      top: 65%;
    }
  }
  
  @media (max-width: 480px) {
    .textBanner-second {
      font-size: 2em;
      top: 70%;
    }
  } 


  */ 

  .bannerHeader {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 120%;
    background-repeat: no-repeat;
  }

  .logoPage{
    width: 120%;
    height: 120%;
  }

  