

.loginDesign {

    height: 84vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: beige;
}

.buttonSumbit {

    height: 2.5em;
    width: 7em;

    border-radius: 1em;
    background-color: var(--azul);
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSumbit:hover {

    transition: 0.4s;
    background-color: #B45CBA;
    cursor: pointer;
}

.login-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 5px var(--azul);
    width: 25em;
    height: 30em;
    background-color: rgb(43, 41, 41);
}