.informationDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 10em;
}

.informationText {
    color: white;
    font-family: 'Sancreek', cursive;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    color: var(--azul);
}

.informationTextUnder {
    font-size: 0.5em;
    color: white;
    margin-top: 1em;
}