.crew-design {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artist-div {
  color: var(--azul);
  font-family: 'Sancreek', cursive;
  font-size: 2em;
  height: 2em;
}

.title-crew {
  font-family: 'Sancreek', cursive;
  height: 2em;
  font-size: 5em;
  text-decoration: underline var(--azul);
}