/* En tu archivo CSS asociado a Home.js o App.js */
.crewDesign {
    padding: 20px;
    background-color: red;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .artistCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .artistName {
    font-size: 18px;
    font-weight: bold;
  }
  
  .artistInfo {
    font-size: 14px;
    color: #555;
  }
  
  /* Estilos para la imagen del artista */
  .avatarCharacter {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  