.crew-design {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artist-div {
  color: var(--azul);
  height: 3em;
  font-family: 'Sancreek', cursive;
}